.main {
  background-color: #202020;
  min-height: 100vh;
  padding: 55px 180px 44px;
}

.all_films {
  --font-family: "Roboto", sans-serif;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 34px;
  line-height: 118%;
  letter-spacing: 0.01em;
  color: #fff;
}

.images {
  width: "150px";
  height: "auto";
  border-radius: 10px;
}

.filter_container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.filter_wrapper {
  position: relative;
  display: inline-block;
  padding-bottom: 40px;
  padding-top: 40px;
}

.filter_btn {
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 48px;
  padding: 0px 16px;
  width: 114px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 257%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: flex;
  gap: 8px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.arrow_icon {
  width: 16px;
  transition: transform 0.3s ease;
}

.dropdown_menu {
  list-style: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 150%;
  background: #181818;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 8px 0;
  margin: 5px 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.dropdown_menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.arrow_icon.rotate {
  transform: rotate(180deg);
}

.raiting_btn {
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 48px;
  padding: 0px 16px;
  width: auto;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 257%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  display: flex;
  gap: 8px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.card {
  color: #fff;
  display: flex;
  padding-bottom: 32px;
}

.card_contnet {
  position: relative;
  max-width: 906px;
  left: 24px;
  gap: 24px;
  padding-top: 4.5px;
}

.card_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 23px;
  line-height: 139%;
  padding-bottom: 13px;
}

.genre_btn {
  background: transparent;
  border: 1px solid #9e9e9e;
  border-radius: 16px;
  padding: 6px 12px;
  min-width: auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: #bdbdbd;
  white-space: nowrap;
}

.raiting_body {
  padding-top: 13px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 13px;
}

.raiting_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #9e9e9e;
  display: flex;
  gap: 2px;
}

.describe_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #9e9e9e;
  padding-bottom: 13px;
}

.important_btns {
  display: flex;
  gap: 13px;
}

.remove_btn {
  border-radius: 48px;
  border: 1px solid #fff;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 257%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 2px 5px;
  min-width: 150px;
  max-width: 100%;
  white-space: nowrap;
}

.my_watchlist {
  --font-family: "Roboto", sans-serif;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 34px;
  line-height: 118%;
  letter-spacing: 0.01em;
  color: #fff;
  padding-bottom: 40px;
}

.no_movie {
  --font-family: "Roboto", sans-serif;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 34px;
  line-height: 118%;
  letter-spacing: 0.01em;
  color: #fff;
  padding-bottom: 40px;
}

.more_btn {
  border-radius: 36px;
  width: 100px;
  background: #f5f5f5;
  font-family: "Outfit", sans-serif;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 257%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

.loading {
  font-family: "Outfit", sans-serif;
  color: #f5f5f5;
  font-size: 16px;
  letter-spacing: 0.5rem;
}
