@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", serif;
}

.wrapper_chat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container_chat {
  position: relative;
  width: 420px;
  background-color: #202020;
  overflow: hidden;
  border-radius: 15px;
}

.container_chat .header_chat {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ff9800;
}

.header_chat .header_info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header_info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 50%;
}

.header_info .logo_text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.body_chat {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: auto;
  padding: 25px 22px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.bot_message {
  display: flex;
  gap: 10px;
}

.bot_text {
  color: #fff;
}

.body_chat .bot_message svg {
  height: 30px;
  width: 30px;
  padding: 6px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 50%;
  align-self: flex-end;
}
