.slider_container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
  grid-column: span 3;
}

.review_slider {
  width: 100%;
  background: #181818;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.review_card {
  background: #1e1e1e;
  padding: 40px 20px;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: white;
}

.review_text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px 0;
  object-fit: cover;
}

:root {
  --swiper-theme-color: #ff9800 !important;
}
