.header {
  width: 100%;
  min-height: 68px;
  background-color: #202020;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  border-bottom: 1px solid #ff9800;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  max-width: 1440px;
  margin: 0 auto;
}

.movie_logo {
  display: flex;
  gap: 8px;
}

.title {
  color: #ff9800;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.09em;
  text-decoration: none;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.films {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 257%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.header_container {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 376px;
}

.butLog {
  border-radius: 36px;
  padding: 0px 16px;
  width: 78px;
  height: 36px;
  background: #ff9800;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.login {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #202020;
  text-transform: uppercase;
  line-height: 257%;
  letter-spacing: 0.09em;
  text-decoration: none;
}

.lines {
  color: #ff9800;
}

.profile {
  max-width: 36px;
}

.watchlist_profile {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 257%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.link_style {
  text-decoration: none;
}
