.nav_profile {
  position: fixed;
  top: 100;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 16px;
}

.nav_profile ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav_item {
  font-family: "Roboto", sans-serif;
  padding: 8px 12px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.nav_icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home_text {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
