.footer {
  border-top: 1px solid #ff9800;
  background-color: #202020;
  padding: 40px;
  font-size: 14px;

  @media (max-width: 768px) {
    padding: 30px 20px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.top_section {
  max-width: 1280px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1075px) {
    justify-content: center;
    text-align: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}

.logo_container {
  display: flex;
  gap: 15px;
  text-align: center;

  @media (max-width: 1075px) {
    padding-bottom: 50px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
  }
}

.logo_style {
  width: 54px;
}

.logo_text {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  color: #fff;
  display: flex;
  align-items: center;
}

.grid_section p {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-family: Input Sans, sans-serif;
  letter-spacing: 0.2em;
  font-weight: 700;
  line-height: 1.25;
}

.link_section a {
  font-family: Input Sans, sans-serif;
  font-weight: 500;
  color: #bbb;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.3s ease;

  &:hover {
    color: #ffffff;
  }
}

.link_section {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  min-width: 500px;

  @media (max-width: 1080px) {
    justify-content: center;
    min-width: auto;
    gap: 30px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.grid_section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.bottom_section {
  grid-column-gap: 16px;
  padding-top: 30px;
  border-top: 1px solid #ff9800;
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 1080px) {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
  }
}

.bottom_text {
  color: #fff;
  font-size: 0.875rem;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.socials a {
  color: #a2a2a4;
  font-size: 0.875rem;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 300;
  line-height: 1.5;

  &:hover {
    color: #ffffff;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 768px) {
    justify-content: center;
  }
}
