.home_main {
  position: relative;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: #202020;
  overflow: hidden;
}

.text_align_center {
  padding-top: 100px;
  text-align: center;
  color: #fff;
}

.our_text {
  font-family: Input Sans, sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.25;
}

.beyond_text {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  width: 100%;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
